<div class="principal" id="principal">
	<div>
		<div class="titulos graf_bar">
		  INGRESOS Y GASTOS
		</div>
		<div class="graf-caja">  
			<canvas id="resumen" class="chart chart-bar"></canvas>
		</div>
	</div>
	<div>
		<div class="titulos graf_bar">
		  INGRESOS
		</div>
		<div>
			<div class="titulos">
		  		ANUAL
			</div>
			<div class="graf-caja">  
				<canvas id="anualCatI" class="chart chart-bar"></canvas>
			</div>
		</div>
		<div>
			<div class="titulos">
			   MENSUAL
			</div>
			<div class="graf-caja">  
				<canvas id="mesCatI" class="chart chart-bar"></canvas>
			</div>
		</div>
	</div>

	<div>
		<div class="titulos graf_bar">
		  INVERSIONES
		</div>
		<div class="graf-caja">  
			<canvas id="inversiones" class="chart chart-bar"></canvas>
		</div>
	</div>
	<div>
		<div class="titulos graf_bar">
		  GASTOS
		</div>
		<div>
			<div class="titulos">
		  		ANUAL
			</div>
			<div class="graf-caja">  
				<canvas id="anualCatG" class="chart chart-bar"></canvas>
			</div>
		</div>
		<div>
			<div class="titulos">
			   MENSUAL
			</div>
			<div class="graf-caja">  
				<canvas id="mesCatG" class="chart chart-bar"></canvas>
			</div>
		</div>
	</div>
	
</div>