<div class="principal" id="principal">
	<div>
		<div class="titulos graf_bar">
		  INGRESOS Y GASTOS
		</div>
		<div class="graf-caja">  
			<canvas id="resumen" class="chart chart-bar"></canvas>
		</div>
	</div>
	<div>
		<div class="titulos graf_bar">
		  INVERSIONES
		</div>
		<div class="graf-caja">  
			<canvas id="inversiones" class="chart chart-bar"></canvas>
		</div>
	</div>
	<div>
		<div class="titulos graf_bar">		  
		  <label class="graf_pie_nombre">INGRESOS</label>
		</div>
		<div>
			<div class="titulos graf_pie">
				<label class="graf_pie_nombre">ANUAL</label>
		  		
			</div>
			<div class="graf-caja grafico_pie">  
				<canvas id="anualCatI" class="chart chart-bar"></canvas>
			</div>
		</div>
		<div>
			<div class="titulos graf_pie2">
			   <label class="graf_pie_nombre">MENSUAL</label>
			</div>
			<div class="graf-caja grafico_pie2">  
				<canvas id="mesCatI" class="chart chart-bar"></canvas>
			</div>
		</div>
	</div>

	<div>
		<div class="titulos graf_bar">		  
		  <label class="graf_pie_nombre">GASTOS</label>
		</div>
		<div>
			<div class="titulos graf_pie">
				<label class="graf_pie_nombre">ANUAL</label>
		  		
			</div>
			<div class="graf-caja grafico_pie">  
				<canvas id="anualCatG" class="chart chart-bar"></canvas>
			</div>
		</div>
		<div>
			<div class="titulos graf_pie2">
			   <label class="graf_pie_nombre">MENSUAL</label>
			</div>
			<div class="graf-caja grafico_pie2">  
				<canvas id="mesCatG" class="chart chart-bar"></canvas>
			</div>
		</div>
	</div>
	
</div>