<div class="titulos">
  INGRESOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Sueldo</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Banco</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Otro</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Billetera</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  GASTOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Alimentacion</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Cigarrillos</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Gas</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Luz</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Ocio</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Supermercado</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Varios</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  COMPARACION
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Saldo Disponible</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Billetera</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Banco</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Varios</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class=banner>
  <div class="separator"></div>
  <label class="banner-button" ng-click="">+1</label>
  <div class="separator"></div>
  <label class=banner-button ng-click="">+10</label>
  <div class="separator"></div>
  <label class=banner-button ng-click="">+Todos</label>
  <div class="separator"></div>
</div>
