<div class="principal" id="principal">
<div class="titulos">
  INGRESOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-cloak id={{ingreso}} class="data-row fade-in" *ngFor="let ingreso of resumenI" >
            <td data-id={{ingreso}}>{{ingreso.nombre}}</td>
            <td data-id={{ingreso}}>{{ingreso.m01}}</td>
            <td data-id={{ingreso}}>{{ingreso.m02}}</td>
            <td data-id={{ingreso}}>{{ingreso.m03}}</td>
            <td data-id={{ingreso}}>{{ingreso.m04}}</td>
            <td data-id={{ingreso}}>{{ingreso.m05}}</td>
            <td data-id={{ingreso}}>{{ingreso.m06}}</td>
            <td data-id={{ingreso}}>{{ingreso.m07}}</td>
            <td data-id={{ingreso}}>{{ingreso.m08}}</td>
            <td data-id={{ingreso}}>{{ingreso.m09}}</td>
            <td data-id={{ingreso}}>{{ingreso.m10}}</td>
            <td data-id={{ingreso}}>{{ingreso.m11}}</td>
            <td data-id={{ingreso}}>{{ingreso.m12}}</td>
          </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td>{{resumenTotalI.m01}}</td>
        <td>{{resumenTotalI.m02}}</td>
        <td>{{resumenTotalI.m03}}</td>
        <td>{{resumenTotalI.m04}}</td>
        <td>{{resumenTotalI.m05}}</td>
        <td>{{resumenTotalI.m06}}</td>
        <td>{{resumenTotalI.m07}}</td>
        <td>{{resumenTotalI.m08}}</td>
        <td>{{resumenTotalI.m09}}</td>
        <td>{{resumenTotalI.m10}}</td>
        <td>{{resumenTotalI.m11}}</td>
        <td>{{resumenTotalI.m12}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  GASTOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-cloak id={{gasto}} class="data-row fade-in" *ngFor="let gasto of resumenG" >
            <td data-id={{gasto}}>{{gasto.nombre}}</td>
            <td data-id={{gasto}}>{{gasto.m01}}</td>
            <td data-id={{gasto}}>{{gasto.m02}}</td>
            <td data-id={{gasto}}>{{gasto.m03}}</td>
            <td data-id={{gasto}}>{{gasto.m04}}</td>
            <td data-id={{gasto}}>{{gasto.m05}}</td>
            <td data-id={{gasto}}>{{gasto.m06}}</td>
            <td data-id={{gasto}}>{{gasto.m07}}</td>
            <td data-id={{gasto}}>{{gasto.m08}}</td>
            <td data-id={{gasto}}>{{gasto.m09}}</td>
            <td data-id={{gasto}}>{{gasto.m10}}</td>
            <td data-id={{gasto}}>{{gasto.m11}}</td>
            <td data-id={{gasto}}>{{gasto.m12}}</td>
          </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td>{{resumenTotalG.m01}}</td>
        <td>{{resumenTotalG.m02}}</td>
        <td>{{resumenTotalG.m03}}</td>
        <td>{{resumenTotalG.m04}}</td>
        <td>{{resumenTotalG.m05}}</td>
        <td>{{resumenTotalG.m06}}</td>
        <td>{{resumenTotalG.m07}}</td>
        <td>{{resumenTotalG.m08}}</td>
        <td>{{resumenTotalG.m09}}</td>
        <td>{{resumenTotalG.m10}}</td>
        <td>{{resumenTotalG.m11}}</td>
        <td>{{resumenTotalG.m12}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  INVERSIONES
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-cloak id={{inversion}} class="data-row fade-in" *ngFor="let inversion of resumenV" >
            <td data-id={{inversion}}>{{inversion.nombre}}</td>
            <td data-id={{inversion}}>{{inversion.m01}}</td>
            <td data-id={{inversion}}>{{inversion.m02}}</td>
            <td data-id={{inversion}}>{{inversion.m03}}</td>
            <td data-id={{inversion}}>{{inversion.m04}}</td>
            <td data-id={{inversion}}>{{inversion.m05}}</td>
            <td data-id={{inversion}}>{{inversion.m06}}</td>
            <td data-id={{inversion}}>{{inversion.m07}}</td>
            <td data-id={{inversion}}>{{inversion.m08}}</td>
            <td data-id={{inversion}}>{{inversion.m09}}</td>
            <td data-id={{inversion}}>{{inversion.m10}}</td>
            <td data-id={{inversion}}>{{inversion.m11}}</td>
            <td data-id={{inversion}}>{{inversion.m12}}</td>
          </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td>{{resumenTotalV.m01}}</td>
        <td>{{resumenTotalV.m02}}</td>
        <td>{{resumenTotalV.m03}}</td>
        <td>{{resumenTotalV.m04}}</td>
        <td>{{resumenTotalV.m05}}</td>
        <td>{{resumenTotalV.m06}}</td>
        <td>{{resumenTotalV.m07}}</td>
        <td>{{resumenTotalV.m08}}</td>
        <td>{{resumenTotalV.m09}}</td>
        <td>{{resumenTotalV.m10}}</td>
        <td>{{resumenTotalV.m11}}</td>
        <td>{{resumenTotalV.m12}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  RESUMEN
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table style="font-weight=bold">
    <thead>
      <tr class="color-total">
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Saldo Disponible</td>
        <td>{{listSaldos.m01}}</td>
        <td>{{listSaldos.m02}}</td>
        <td>{{listSaldos.m03}}</td>
        <td>{{listSaldos.m04}}</td>
        <td>{{listSaldos.m05}}</td>
        <td>{{listSaldos.m06}}</td>
        <td>{{listSaldos.m07}}</td>
        <td>{{listSaldos.m08}}</td>
        <td>{{listSaldos.m09}}</td>
        <td>{{listSaldos.m10}}</td>
        <td>{{listSaldos.m11}}</td>
        <td>{{listSaldos.m12}}</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Saldo Anterior</td>
        <td *ngIf="listSaldos.m01 > 0" >{{listSaldos.m13}}</td>
        <td *ngIf="listSaldos.m01 <= 0" >0</td>
        <td *ngIf="listSaldos.m02 > 0" >{{listSaldos.m01}}</td>
        <td *ngIf="listSaldos.m02 <= 0" >0</td>
        <td *ngIf="listSaldos.m03 > 0" >{{listSaldos.m02}}</td>
        <td *ngIf="listSaldos.m03 <= 0" >0</td>
        <td *ngIf="listSaldos.m04 > 0" >{{listSaldos.m03}}</td>
        <td *ngIf="listSaldos.m04 <= 0" >0</td>
        <td *ngIf="listSaldos.m05 > 0" >{{listSaldos.m04}}</td>
        <td *ngIf="listSaldos.m05 <= 0" >0</td>
        <td *ngIf="listSaldos.m06 > 0" >{{listSaldos.m05}}</td>
        <td *ngIf="listSaldos.m06 <= 0" >0</td>
        <td *ngIf="listSaldos.m07 > 0" >{{listSaldos.m06}}</td>
        <td *ngIf="listSaldos.m07 <= 0" >0</td>
        <td *ngIf="listSaldos.m08 > 0" >{{listSaldos.m07}}</td>
        <td *ngIf="listSaldos.m08 <= 0" >0</td>
        <td *ngIf="listSaldos.m09 > 0" >{{listSaldos.m08}}</td>
        <td *ngIf="listSaldos.m09 <= 0" >0</td>
        <td *ngIf="listSaldos.m10 > 0" >{{listSaldos.m09}}</td>
        <td *ngIf="listSaldos.m10 <= 0" >0</td>
        <td *ngIf="listSaldos.m11 > 0" >{{listSaldos.m10}}</td>
        <td *ngIf="listSaldos.m11 <= 0" >0</td>
        <td *ngIf="listSaldos.m12 > 0" >{{listSaldos.m11}}</td>
        <td *ngIf="listSaldos.m12 <= 0" >0</td>
      </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td *ngIf="listSaldos.m01 > 0" >{{listSaldos.m01 + listSaldos.m13}}</td>
        <td *ngIf="listSaldos.m01 <= 0" >0</td>

        <td *ngIf="listSaldos.m02 > 0">{{listSaldos.m02 + listSaldos.m01}}</td>
        <td *ngIf="listSaldos.m02 <= 0" >0</td>

        <td *ngIf="listSaldos.m03 > 0" >{{listSaldos.m03 + listSaldos.m02}}</td>
        <td *ngIf="listSaldos.m03 <= 0" >0</td>

        <td *ngIf="listSaldos.m04 > 0" >{{listSaldos.m04 + listSaldos.m03}}</td>
        <td *ngIf="listSaldos.m04 <= 0" >0</td>

        <td *ngIf="listSaldos.m05 > 0" >{{listSaldos.m05 + listSaldos.m04}}</td>
        <td *ngIf="listSaldos.m05 <= 0" >0</td>

        <td *ngIf="listSaldos.m06 > 0" >{{listSaldos.m06 + listSaldos.m05}}</td>
        <td *ngIf="listSaldos.m06 <= 0" >0</td>

        <td *ngIf="listSaldos.m07 > 0" >{{listSaldos.m07 + listSaldos.m06}}</td>
        <td *ngIf="listSaldos.m07 <= 0" >0</td>

        <td *ngIf="listSaldos.m08 > 0" >{{listSaldos.m08 + listSaldos.m07}}</td>
        <td *ngIf="listSaldos.m08 <= 0" >0</td>

        <td *ngIf="listSaldos.m09 > 0" >{{listSaldos.m09 + listSaldos.m08}}</td>
        <td *ngIf="listSaldos.m09 <= 0" >0</td>

        <td *ngIf="listSaldos.m10 > 0" >{{listSaldos.m10 + listSaldos.m09}}</td>
        <td *ngIf="listSaldos.m10 <= 0" >0</td>

        <td *ngIf="listSaldos.m11 > 0" >{{listSaldos.m11 + listSaldos.m10}}</td>
        <td *ngIf="listSaldos.m11 <= 0" >0</td>

        <td *ngIf="listSaldos.m12 > 0" >{{listSaldos.m12 + listSaldos.m11}}</td>
        <td *ngIf="listSaldos.m12 <= 0" >0</td>

      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  COMPARACI&Oacute;N
</div>
<div class=main-add id="formNuevoDiario">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Saldo Disponible:</strong></label>
          {{getTotalDisponible()}}
        </div>
        <div class=form-field>
          <label><strong>Billetera:</strong></label>
          <input type="number" placeholder="Importe" id="submitBilletera" step=".01" required>
        </div>
        <div class=form-field>
          <label><strong>Banco:</strong></label> 
          <input type="number" placeholder="Importe" id="submitBanco" step=".01" required>
        </div> 
        <div class="form-field float-left">
            <label class="button-main"><i class="material-icons botton-check" (click)="checkComparacion()">done</i></label>
        </div> 
        <div class="form-field padding200">
            <label *ngIf="!compara"><i class="material-icons bola-roja">error</i></label>
            <label *ngIf="compara"><i class="material-icons bola-verde">thumb_up_alt</i></label>
            <label class="input-error" id="saldoError">{{mensaje}}</label>
        </div> 
      </form>
    </div>
  </div>
</div>