<div class="principal" id="principal">
<div class="titulos">
  INGRESOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
     <tr ng-cloak id={{ingreso}} class="data-row fade-in" *ngFor="let ingreso of resumenG" >
            <td data-id={{ingreso}}>{{ingreso.nombre}}</td>
            <td data-id={{ingreso}}>{{ingreso.m01}}</td>
            <td data-id={{ingreso}}>{{ingreso.m02}}</td>
            <td data-id={{ingreso}}>{{ingreso.m03}}</td>
            <td data-id={{ingreso}}>{{ingreso.m04}}</td>
            <td data-id={{ingreso}}>{{ingreso.m05}}</td>
            <td data-id={{ingreso}}>{{ingreso.m06}}</td>
            <td data-id={{ingreso}}>{{ingreso.m07}}</td>
            <td data-id={{ingreso}}>{{ingreso.m08}}</td>
            <td data-id={{ingreso}}>{{ingreso.m09}}</td>
            <td data-id={{ingreso}}>{{ingreso.m10}}</td>
            <td data-id={{ingreso}}>{{ingreso.m11}}</td>
            <td data-id={{ingreso}}>{{ingreso.m12}}</td>
            <td data-id={{ingreso}}>{{ingreso.m13}}</td>
          </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  GASTOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Alimentacion</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Cigarrillos</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Gas</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Luz</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Ocio</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Supermercado</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Varios</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  COMPARACION
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th></th>
        <th>Ene</th>
        <th>Feb</th>
        <th>Mar</th>
        <th>Abr</th>
        <th>May</th>
        <th>Jun</th>
        <th>Jul</th>
        <th>Ago</th>
        <th>Sep</th>
        <th>Oct</th>
        <th>Nov</th>
        <th>Dic</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak class="data-row fade-in">
        <td>Saldo Disponible</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
        <td>30000</td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Billetera</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Banco</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in">
        <td>Varios</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-cloak class="data-row fade-in" style="background-color: #e8a87c">
        <td>Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="titulos">
  COMPARACI&Oacute;N
</div>
<div class=main-add id="formNuevoDiario">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Saldo Disponible:</strong></label>
          <input type="number" placeholder="Importe" id="submitSaldo" step=".01" required>
        </div>
        <div class=form-field>
          <label><strong>Billetera:</strong></label>
          <input type="number" placeholder="Importe" id="submitBilletera" step=".01" required>
        </div>
        <div class=form-field>
          <label><strong>Banco:</strong></label> 
          <input type="number" placeholder="Importe" id="submitBanco" step=".01" required>
        </div> 
        <div class=form-field>
            <label class="button-main"><i class="material-icons botton-check" (click)="checkComparacion()">done</i></label>
        </div> 
        <div class=form-field>
            <label *ngIf="!compara"><i class="material-icons bola-roja">error</i></label>
            <label *ngIf="compara"><i class="material-icons bola-verde">thumb_up_alt</i></label>
            <label class="input-error" id="saldoError">{{mensaje}}</label>
        </div> 
      </form>
    </div>
  </div>
</div>