<!--The content below is only a placeholder and can be replaced.-->
<div class="main-main-app" onclick="showDiv()">
  <div class="main-app">
    <label>{{personaMesActNom}}</label>  
  </div>
  <div class="separator"></div>
  <div class="main-app">
    <label>{{personaAnno}}</label> 
  </div>
  <div class="usuario">
    <label>{{personaNombre}}</label> 
  </div>
</div>
<div class="desp-main-app" id="desp-main-div">
  <div class="main-app">
    <input class="mes-main" type="text" placeholder="{{personaMesActNum}}" id="submitMes" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>
  </div>
  <div class="separator"></div>
  <div class="main-app">
    <input class="anno-main" type="text" placeholder="{{personaAnno}}" id="submitAnno" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>
  </div>
  <div class="usuario-edit">
    <input class="usuario-main" type="text" placeholder="{{personaNombre}}" id="submitNombre" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>         
  </div>
  <label class="button-main"><i class="fa fa-check botton-check" (click)="updatePersona()"></i></label>
</div>
<div>
  <ul id=menu class=menu>
    <li><a routerLink="home" routerLinkActive="active"><span class="link-label"> RESUMEN</span></a></li>
    <li><a routerLink="diario" routerLinkActive="active"><span class="link-label"> DIARIO</span></a></li>
    <li><a routerLink="tarjetas" routerLinkActive="active"><span class="link-label"> TARJETAS</span></a></li>
    <li><a routerLink="inversiones" routerLinkActive="active"><span class="link-label"> INVERSIONES</span></a></li>
    <li><a routerLink="grafico" routerLinkActive="active"><span class="link-label"> GRAFICO</span></a></li>
    <li><a routerLink="configuracion" routerLinkActive="active"><span class="link-label"> CONFIGURACION</span></a></li>
  </ul>
</div>
<router-outlet></router-outlet>
