<!--The content below is only a placeholder and can be replaced.-->
<div class="main-main-app">
  <div class="main-app">
    <label (click)="openmodal()">{{mesActNom}}</label>  
  </div>
  <div class="separator"></div>
  <div class="main-app">
    <label (click)="openmodal()">{{anno}}</label> 
  </div>
  <div class="usuario">
    <label (click)="openmodal()">{{nombre}}</label> 
  </div>
</div>
<div class="main-main-app">
  <div class="main-app">
    <input type="text" placeholder="{{mesActNom}}" id="submitI" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>
  </div>
  <div class="separator"></div>
  <div class="main-app">
    <input type="text" placeholder="{{anno}}" id="submitI" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>
  </div>
  <div class="usuario">
    <input type="text" placeholder="{{nombre}}" id="submitI" maxlength="10" pattern="^[^\s].*([A-zÀ-ž\s]){2,10}" ng-pattern-restrict required>
        <label class="foot-button"><i class="fa fa-times tachoi" data-id={{categoriaG.ID}} (click)="removeCategoria($event)"></i></label> 
  </div>
</div>
<div>
  <ul id=menu class=menu>
    <li><a routerLink="home" routerLinkActive="active"><span class="link-label"> RESUMEN</span></a></li>
    <li><a routerLink="diario" routerLinkActive="active"><span class="link-label"> DIARIO</span></a></li>
    <li><a routerLink="tarjetas" routerLinkActive="active"><span class="link-label"> TARJETAS</span></a></li>
    <li><a routerLink="inversiones" routerLinkActive="active"><span class="link-label"> INVERSIONES</span></a></li>
    <li><a routerLink="grafico" routerLinkActive="active"><span class="link-label"> GRAFICO</span></a></li>
    <li><a routerLink="configuracion" routerLinkActive="active"><span class="link-label"> CONFIGURACION</span></a></li>
  </ul>
</div>
<router-outlet></router-outlet>
