<div class="titulos">
  NOMBRE
</div>
<div id=content class="content fade-in">
  Thelma
</div>

<div class="titulos">
  LISTA GRUPO INGRESO
</div>
<div id=content class="content fade-in">
  Sueldo
  Banco
</div>

<div class="titulos">
  LISTA GRUPO GASTO
</div>
<div id=content class="content fade-in">
  Alimentacion
  Verduleria
</div>

<div class=banner>
  <div class="separator"></div>
  <label class="banner-button" ng-click="">+1</label>
  <div class="separator"></div>
  <label class=banner-button ng-click="">+10</label>
  <div class="separator"></div>
  <label class=banner-button ng-click="">+Todos</label>
  <div class="separator"></div>
</div>
