

<form style="margin-left: 250px;" onsubmit="return false;">
  <div>
    <label>enter</label>
    <input type="text" id="submit" autofocus>  
    <label class="foot-button" (click)="submitForm()">Nuevo</label>   
    <button type="button" class="foot-button" >nada</button>   
  </div>  
</form>
<div class=foot>
  <footer>
    <label class="foot-button" (click)="start()">Nuevo4</label>

  </footer>
</div>

<div style="text-align:center">
  <h1>
    List of users
  </h1>
  <ul *ngIf="list">
    <li *ngFor="let name of list">{{name}}</li>
  </ul>
</div>



