<div class="principal" id="principal">
<div ng-cloak id={{inversion.ID}} *ngFor="let inversion of listInversionesDiario" >
    <div  ng-cloak id={{inversion.ID}} class="titulos" >
      {{inversion.NOMBRE}}
    </div>
    <div ng-cloak id={{inversion.ID}} id=content class="content fade-in">
      <table ng-cloak id=table class=main-table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Detalle</th>
            <th>Ganancia</th>
            <th>Estado</th>
            <th>Fecha Cerrado</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-cloak id={{inversionDiario.ID}} class="data-row fade-in" *ngFor="let inversionDiario of inversion.consumo" >
            <td data-id={{inversionDiario.ID}} (click)="habilitaFormEdit($event)">{{inversionDiario.FECHA}}</td>
            <td data-id={{inversionDiario.ID}} (click)="habilitaFormEdit($event)">{{inversionDiario.MONTO}}</td>
            <td data-id={{inversionDiario.ID}} (click)="habilitaFormEdit($event)">{{inversionDiario.DETALLE}}</td>
            <td data-id={{inversionDiario.ID}} (click)="habilitaFormEdit($event)">{{inversionDiario.GANANCIA}}</td>

            <td data-id={{inversionDiario.ID}} *ngIf="inversionDiario.FINALIZADO > 0"><i class="material-icons bola-roja">fiber_manual_record</i><i class="material-icons tachoi" data-id={{inversionDiario.ID}} (click)="noPagado($event)">cached</i></td>
            <td data-id={{inversionDiario.ID}} *ngIf="inversionDiario.FINALIZADO < 1"><i class="material-icons bola-verde">fiber_manual_record</i><i class="material-icons tachoi" data-id={{inversionDiario.ID}} (click)="habilitaPagado($event)">cached</i></td>

             <td data-id={{inversionDiario.ID}} *ngIf="inversionDiario.FINALIZADO > 0">-</td>
            <td data-id={{inversionDiario.ID}} *ngIf="inversionDiario.FINALIZADO < 1">{{fechaP}}</td>

            <td class="delete" ><i class="material-icons tachoi" data-id={{inversionDiario.ID}} (click)="removeI($event)">clear</i></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
<div class=diario-add id="formNuevoI">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Inversion:</strong></label> 
          <select name=tarjeta id="submitInversion" required>
            <option *ngFor="let inversion of listInversionesVigente" [value]="inversion.ID">{{inversion.NOMBRE}}</option>
          </select>
        </div> 
        <div class=form-field>
          <label><strong>Fecha:</strong></label>
          <input type="date" id="submitFecha" ng-pattern-restrict required />        
          <label class="input-error" id="fechaError">*Obligatorio</label>
        </div>
        <div class=form-field>
          <label><strong>Monto:</strong></label>
          <input type="number" placeholder="Monto" id="submitMonto" (click)="blankInputMonto()" step=".01" required>
          <label class="input-error" id="montoError">{{mensaje1}}</label> 
        </div>
        <div class=form-field>
          <label><strong>Ganancia:</strong></label>
          <input type="number" placeholder="Ganancia" id="submitGanancia" (click)="blankInputGanancia()" step=".01" ng-pattern-restrict required />
          <label class="input-error" id="gananciaError">{{mensaje2}}</label>
        </div>
        <div class=form-field>
          <label><strong>Detalle:</strong></label>
          <input type="text" placeholder="Detalle" id="submitDetalle" maxlength="40" pattern="^[^\s].*([A-zÀ-ž\s]){1,40}" ng-pattern-restrict required>
        </div>
        <label class="button-main"><i class="material-icons botton-check" (click)="insertI()">done</i></label> 
        <label class="button-main"><i class="material-icons botton-close" (click)="closeInsertI()">clear</i></label>
      </form>
    </div>
  </div>
</div>

<div class=diario-add id="formEditI">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Inversion:</strong></label> 
          <select name=tarjeta id="editInversion" required>
            <option value="" disabled selected>{{inversionEditaNombre}}</option>
            <option *ngFor="let inversion of listInversionesVigente" [value]="inversion.ID">{{inversion.NOMBRE}}</option>
          </select>
        </div> 
        <div class=form-field>
          <label><strong>Fecha:</strong></label>
          <input type="date" id="editFecha" ng-pattern-restrict required />        
          <label class="input-error" id="fechaEditError">*Obligatorio</label>
        </div>
        <div class=form-field>
          <label><strong>Monto:</strong></label>
          <input type="number" placeholder="Monto" id="editMonto" (click)="blankInputMonto()" step=".01" required>
          <label class="input-error" id="montoEditError">{{mensaje1}}</label> 
        </div>
        <div class=form-field>
          <label><strong>Ganancia:</strong></label>
          <input type="number" placeholder="Ganancia" id="editGanancia" (click)="blankInputGanancia()" step=".01" ng-pattern-restrict required />
          <label class="input-error" id="gananciaEditError">{{mensaje2}}</label>
        </div>
        <div class=form-field>
          <label><strong>Detalle:</strong></label>
          <input type="text" placeholder="Detalle" id="editDetalle" maxlength="40" pattern="^[^\s].*([A-zÀ-ž\s]){1,40}" ng-pattern-restrict required>
        </div>
        <label class="button-main"><i class="material-icons botton-check" (click)="updateI()">done</i></label> 
        <label class="button-main"><i class="material-icons botton-close" (click)="closeInsertI()">clear</i></label> 
      </form>
    </div>
  </div>
</div>

<div class=diario-add id="formPagado">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Fecha Apertura: </strong>{{cierreFechaApertura}}</label>
        </div>
        <div class=form-field>
          <label><strong>Monto: </strong>{{cierreMonto}}</label>
        </div>
        <div class=form-field>
          <label><strong>Ganancia: </strong>{{cierreGanancia}}</label>
        </div>
        <div class=form-field>
          <label><strong>Total: </strong>{{cierreTotal}}</label>
        </div>
        <div class=form-field>
          <label><strong>Detalle: </strong>{{cierreDetalle}}</label>
        </div>
        <div class=form-field>
          <label><strong>Fecha Cierre:</strong></label>
          <input type="date" id="pagadoFecha" ng-pattern-restrict required />        
          <label class="input-error" id="fechaPagado">*Obligatorio</label>
        </div>
        <label class="button-main"><i class="material-icons botton-check" (click)="pagado()">done</i></label> 
        <label class="button-main"><i class="material-icons botton-close" (click)="closeInsertI()">clear</i></label>
      </form>
    </div>
  </div>
</div>

<div class=foot>
  <footer>    
    <label class="foot-button" id="bottonHabilitaForm"><i class="material-icons md-60" (click)="habilitaFormInsert()">add_circle</i></label>
  </footer>
</div>
</div>