<div class="principal" id="principal">
<div class="titulos">
  INGRESOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th>Dia</th>
        <th>Importe</th>
        <th>Grupo</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak id={{diarioI.ID}} class="data-row fade-in" *ngFor="let diarioI of listDiarioI" >
        <td data-id={{diarioI.ID}} (click)="habilitaFormEdit($event)">{{diarioI.dia}}</td>
        <td data-id={{diarioI.ID}} (click)="habilitaFormEdit($event)">{{diarioI.MONTO}}</td>
        <td data-id={{diarioI.ID}} (click)="habilitaFormEdit($event)">{{diarioI.nombreCategoria}}</td>
        <td data-id={{diarioI.ID}} (click)="habilitaFormEdit($event)">{{diarioI.DETALLE}}</td>
        <td class="delete" ><i class="material-icons tachoi" data-id={{diarioI.ID}} (click)="removeDiario($event)">clear</i></td>
      </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td>{{getTotalIngreso()}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="titulos">
  GASTOS
</div>
<div id=content class="content fade-in">
  <table ng-cloak id=table class=main-table>
    <thead>
      <tr>
        <th>Dia</th>
        <th>Importe</th>
        <th>Grupo</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-cloak id={{diarioG.ID}} class="data-row fade-in" *ngFor="let diarioG of listDiarioG" >
        <td data-id={{diarioG.ID}} (click)="habilitaFormEdit($event)">{{diarioG.dia}}</td>
        <td data-id={{diarioG.ID}} (click)="habilitaFormEdit($event)">{{diarioG.MONTO}}</td>
        <td data-id={{diarioG.ID}} (click)="habilitaFormEdit($event)">{{diarioG.nombreCategoria}}</td>
        <td data-id={{diarioG.ID}} (click)="habilitaFormEdit($event)">{{diarioG.DETALLE}}</td>
        <td class="delete" ><i class="material-icons tachoi" data-id={{diarioG.ID}} (click)="removeDiario($event)">clear</i></td>
      </tr>
      <tr ng-cloak class="data-row fade-in color-total">
        <td>Total</td>
        <td>{{getTotalGasto()}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div class=diario-add id="formNuevoDiario">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Dia:</strong></label>
          <input type="number" placeholder="Dia" id="submitDia" (click)="blankInputDia()" min="01" max="31" ng-pattern-restrict required />
          <label class="input-error" id="diaError">{{mensaje}}</label> 
        </div>
        <div class=form-field>
          <label><strong>Importe:</strong></label>
          <input type="number" placeholder="Importe" id="submitImporte" (click)="blankInputImporte()" step=".01" required>
          <label class="input-error" id="importeError">*Obligatorio</label> 
        </div>
        <div class=form-field>
          <label><strong>Categor&iacute;a:</strong></label> 
          <select name=categoria id="submitGrupo" required>
            <option *ngFor="let categoria of listCategoriaVigente" [value]="categoria.ID">{{categoria.NOMBRE}}</option>
          </select>
        </div> 
        <div class=form-field>
          <label><strong>Detalle:</strong></label>
          <input type="text" placeholder="Detalle" id="submitDetalle" maxlength="40" pattern="^[^\s].*([A-zÀ-ž\s]){1,40}" ng-pattern-restrict required>
        </div>
        <label class="button-main"><i class="material-icons botton-check" (click)="insertDiario()">done</i></label> 
        <label class="button-main"><i class="material-icons botton-close" (click)="closeInsertDiario()">clear</i></label> 
      </form>
    </div>
  </div>
</div>
<div class=diario-add id="formEditDiario">
  <div class=fila-tarjetas-configuracion>
     <div class="card nuevo-diario">
      <form id="testform" onsubmit="return false;">
        <div class=form-field>
          <label><strong>Dia:</strong></label>
          <input type="number" placeholder="Dia" id="editDia" (click)="blankEditDia()" min="01" max="31" ng-pattern-restrict required />
          <label class="input-error" id="editDiaError">{{mensaje}}</label> 
        </div>
        <div class=form-field>
          <label><strong>Importe:</strong></label>
          <input type="number" placeholder="Importe" id="editImporte" (click)="blankEditImporte()" step=".01" required>
          <label class="input-error" id="editImporteError">*Obligatorio</label> 
        </div>
        <div class=form-field>
          <label><strong>Categor&iacute;a:</strong></label> 
          <select name=categoria id="editGrupo" required>
            <option *ngFor="let categoria of listCategoriaVigente" [value]="categoria.ID">{{categoria.NOMBRE}}</option>
          </select>
        </div> 
        <div class=form-field>
          <label><strong>Detalle:</strong></label>
          <input type="text" placeholder="Detalle" id="editDetalle" maxlength="40" pattern="^[^\s].*([A-zÀ-ž\s]){1,40}" ng-pattern-restrict required>
        </div> 
        <label class="button-main"><i class="material-icons botton-check" (click)="updateDiario()">done</i></label> 
        <label class="button-main"><i class="material-icons botton-close" (click)="closeInsertDiario()">clear</i></label> 
      </form>
    </div>
  </div>
</div>
<div class=foot>
  <footer>
    <label class="foot-button" id="bottonHabilitaForm"><i class="material-icons md-60" (click)="habilitaFormInsert()">add_circle</i></label>
  </footer>
</div>
</div>