
/* You can add global styles to this file, and also import other style files */
body {
  /*background-color: #4abdac;*/
  background-color: #E1E2E1;  
  margin-left: 0px;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px
}

.login-body{
    background-color: #292961;
}

.login-form {
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.login-form input{
    font-family: 'Roboto', sans-serif;
    outline: none !important;
    background-color: white;
    border: 0px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
}

.login-form label{
    font-weight: 800;
    color: white;
    font-size: 15px;
    display: inline-block;  
    clear: left;
    width: 23px
}

.login-logo{
    margin-left: 75px;
    margin-bottom: 25px;
}

.ingresar {
    cursor: pointer;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 13px;
    padding: 9px;
    width: 100px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6)
}

.logo{
    margin:20px;
}
.content {
    margin-left: 250px
}

.banner-title{
    text-align: right;
    margin-top: 12px;
    margin-right: 5px;
}

.banner-label{
    text-align: right;
    margin-top: 12px;
    margin-right: 5px;
}

.banner-label-right{
    float: right;
    text-align: right;
    margin-right: 30px;
}

 .confirm-message{
   width: 100%
}


.input-banner {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 0;
    background-color: transparent
}

.input-banner:focus {
    outline: none !important;

}

.input-banner, .input-banner:focus { 
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.action{
    display: none
}

.action-td{
    background-color:  #F3F4F6
}


.card, .banner-busqueda{
    margin-top: 10px;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.card-login{
      bottom: 0px;
    float: right;
    right: 0px;
    position: absolute;
}

.imagen-log{
  border-radius: 50%;
  background-color: white;
  block-size: 110px;
  cursor: pointer;
  border-color: cadetblue;
  border-width: 10px;
  border-style: solid;
}

.separator {
    border-left: 1px solid #c2c1c1;
    width: 1px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: bottom;
    display: inline-block;
}


.banner{
    width: 95%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -5px;
    user-select: none;
    font-size: 13px;
}

.banner-busqueda{
	height: 45px;    
    margin-bottom: 20px;   
    margin-top: 12px; 
    width: 95%;
    margin-bottom: 20px;
    font-size: 13px;
}

.banner-label-busqueda{    
    text-align: right;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 20px;   
}


table,  .banner-busqueda{
    width: 95%
}

table {
    border-collapse: collapse;
}

.main-table{
    margin-top:10px;
    text-align: left;
    background-color: white;
    font-size: 13px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12)
}


/*table>tbody>tr:nth-child(odd) {
    background-color: #F7F7F7
}*/

table tr{
    height: 30px
}

tr:hover td {
    background-color: #259085;
    color: white;
    cursor: pointer
}

tr:hover a {
    color: white;
    cursor: pointer
}

td,th{
    padding-left: 8px
}

th {
    font-weight: 400;
}

ul {
  list-style-type: none;
    /* margin: 0; */
    /* top: 0; */
    background-color: #003d33;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
    box-shadow: 0 4px 4px #1f5a50;
    font-size: 12px;
    left: 0px;
    /* margin-top: 0px; */
    margin-top: 36px;
}

li a {
  display: block;
  color: #7ca99e;
  padding: 8px 16px;
  text-decoration: none
}

  li a:hover {
    background-color: #259085;
    color: #FFFFFF;
    cursor: pointer
  }

.td-link{
    height:100%;
    width:100%
}

.trabajos-list{
    width: 350px
}

.trabajos-list input{
   border-width: 0px;
   max-width: 45px;
   background-color: transparent
}

.trabajos-list tr:hover td input {
    color: white
}

.trabajos-list th{
    text-align: left
}

.trabajos-list tr:nth-child(odd) {
    background-color: #FFF
}

.active a{
    margin-left: -3px;
    font-weight: 600;
    color:white
}

.table-remove{
    width: 5px
}

.active {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #397332
}

.material-icons{
    margin-right: 8px;
    font-size: 18px;
    vertical-align: sub
}

.modal {
    display: block
}

.modalConf {
    display: none
}

.modal-on-top, .modal-on, .modalConf-on{
    display: block;
    position: fixed;
    padding-top: 40px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}

.message {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 200px;
}

.message-content {
    padding: 50px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.modal-double, .modal-content{
    position: relative;
    margin: auto;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content {
/*    width: 500px;
    height: 200px;*/
  display: table;
}

#cv {
    width: 600px;
}

.modal-double{
    width: 700px;
}

.form-message{
    margin-top: 5px;
    font-size: 13px;
    color: red;

}

.form-message-ok{
    margin-top: 5px;
    font-size: 13px;
    color: green;

}
    
.form-field{
    padding-right: 5px;
    font-size: 13px;
    margin-bottom: 17px
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px)
}

.modal-content .form-field label, .modal-double .form-field label{
    display: inline-block;  
    clear: left;
}

.modal-content form input, .modal-double form input {
    font-family: 'Roboto', sans-serif;
    display: inline-block
}

.modal-content form input:focus, form select:focus , .modal-double form input:focus, form select:focus {
    outline: none !important;
    border-bottom: 2px solid #292961
}

.modal-content form input, .modal-double form input { 
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.modal-content form .buttons, .modal-double form .buttons{
    width: 100%;
    align-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px
}

.modal-content form .button, .modal-double form .button{
    cursor: pointer;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6)
}

.modal-content form select, .modal-double form select{    
    background: transparent;
    border-bottom-color: #EEE;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.link,.ver-mas {
    color: #292961;
    font-weight: 800;
    text-decoration: none;
}

.ver-mas {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.ver-mas label{
    cursor: pointer;
}

.button-link{
    text-decoration: none;
}

.banner-button a, .banner-button a:visited, .banner-button a:hover, .banner-button a:active {
  color: inherit;
      font-size: 13px;
}

.banner-button select{
    cursor: pointer;
}

.peluquero-fields{
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

.card input {
    font-family: 'Roboto', sans-serif;
    display: inline-block
}

.card input:focus {
    outline: none !important;
    border-bottom: 2px solid #292961
}

.card input, input:focus { 
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px
}

.search-categoria {
    float: left;
    width: 80px;
    margin-top: 12px;
    margin-left: 5px;   
    background: transparent;
    border-bottom-color: #EEE;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px

}

.time-input{
    width: 80px;
}

.resume{
    margin-top: 25px;
    margin-bottom: 25px;
    border-color: #EFEFEF
}

.accept{
    background-color: #292961;
    color: white
}

.cancel{
    background-color: white;
    color: black
}

.add, .remove{
    cursor: pointer
}

.card-title{
    margin-bottom: 20px
}

.categorias{
    width: 250px;
    padding: 20px
}

.nuevo-diario{
    /*width: 350px;*/
    padding: 20px;
    /*margin: 10px;*/
    margin-left: 0px;
    margin-top: 15px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.servicios{
    margin-left: 250px;
    width: 450px;
    padding: 20px
}

.card label{
/*    width: auto;
    padding: 5px;*/
}

.card input {
    font-size: 13px;
}

.card.servicios button{
    display: none;
}

.card table>tbody>tr:nth-child(odd) {
    background-color: white;
}

.card  tr:hover td {
    background-color: white;
    color:black;
    cursor: pointer
}

.main-card{
    max-width: 600px;

}

.main-card table{
    width: 100%
}

.custom-button {
    background-color: #292961; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6)
}

.banner-button  {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}

.banner-button:hover  {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}



.text-centro{
    text-align: center;
}

.red {
    color: red; 
}
.red-background {
    background-color: rgba(255, 99, 132, .3);
}

.green {
    color: green;
}

div .bb {    
    align-content: center;
    display: flex;    
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    padding: 10px;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    background-color: #292961;
    color: white;
    bottom: 8px;
    margin-top: 20px;

}

.segCol{
  width: 50px !important;
}

.primerCol{
  width: 100px !important;
}


.delete{
    text-align: right;
    padding-right: 8px;
    width: 30px;
    padding-left: 0px;
}

.cambio{
    text-align: right;
    padding-right: 8px;
    width: 30px;
}

.tachoi {
    visibility: hidden;
}

.tachotd {    
    width: 5px;   
}

tr:hover i{
    visibility: visible;
}

.cuotas{
    
    width: 32px;   
    /*border-right-width: 1px;   
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-color: #000; */
}


.cuotas-oculto{
    display: block;
} 

.material-icons.rojo { color: rgba(249, 0, 0, .7); }
.material-icons.verde { color: rgba(0, 249, 0, .5); }


/*@media (max-width: 700px){
    body, .form-field{font-size: 12px}
    table, .banner {width: 98%;}
    .menu{width: 60px}
    .logo{display: none}
    .link-label{display: none}
    .content, .message{margin-left: 80px}
}*/


.titulos {
  padding-top: 6px;
  padding-bottom: 2px;
  margin-left: 250px;
  color: #95ccbe;
  font-weight: bold;
  list-style-type: none;
  top: 0;
  background-color: #00695c;
  overflow: auto;
  box-shadow: 0 4px 4px #00695c;
  border-left-width: 3px;
  padding-left: 50px;
  margin-top: 5px;
  margin-right: 20px;
}

.main-app {
  /* padding-top: 6px; */
  /* padding-bottom: 2px; */
  display: initial;
  /* margin-left: 250px; */
  /* color: #653c30; */
  /* font-weight: bold; */
  /* list-style-type: none; */
  /* top: 0; */
  /* background-color: #e27d60; */
  /* overflow: auto; */
  /* box-shadow: 0 4px 4px #e27d60; */
  /* border-left-width: 3px; */
  /* padding-left: 50px; */
  /* margin-top: 5px; */
}

.main-add{
    position: initial;
    margin-left: 250px;
}

.diario-add{
  user-select: none;
  font-size: 13px;
  bottom: 0;
  right: 0;
  position: fixed;
  display: none;
}

.busqueda-add{
  user-select: none;
  font-size: 13px;
  bottom: 0;
  right: 0;
  position: fixed;
  display: none;
}

.anno-main {
  width: 40px;
  font-size: 12px;
}

.mes-main {
  width: 55px;
  font-size: 12px;
}

.usuario-main {
  width: 80px;
  font-size: 12px;
}

.usuario {
    display: initial;
    right: 43px;
    position: fixed;
}

.usuario-edit {
  display: initial;
right: 40px;
    position: fixed;
}

.botton-check{
  color: #4abdac;
}

.botton-close{
  color: #de1a1a;
}

.button-main {
  cursor: pointer;
  padding: 0px;
  margin-left: 15px;
  right: 0;
}

.button-main a, .button-main a:visited, .button-main a:hover, .button-main a:active {
  color: inherit;
  font-size: 13px;
}

.button-main select {
  cursor: pointer;
}



.principal{
  padding-top: 40px;
}

.main-main-app {
  list-style-type: none;
  margin: 0;
  top: 0;
  background-color: #003d33;
  padding: 0;
  width: 100%;
  /*height: 100%; */
  position: fixed;
  overflow: auto;
  box-shadow: 0 4px 4px #40776e;
  display: block;
  color: #7ca99e;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 15px;
}

.main-main-app2 {
  list-style-type: none;
  margin: 0;
  top: 0;
  background-color: #0d4239;
  padding: 0;
  width: 100%;
  /*height: 100%; */
  position: fixed;
  overflow: auto;
  box-shadow: 0 4px 4px #40776e;
  display: block;
  color: #7ca99e;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 15px;
}

.desp-main-app {
    display: none;
    list-style-type: none;
    /*margin: 0; */
    top: 0;
    background-color: #0d4239;
    padding: 0;
    width: 100%;
    /* height: 100%; */
    position: fixed;
    overflow: auto;
    box-shadow: 0 4px 4px #40776e;
    color: #7ca99e;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 15px;
    padding-top: 10px;
    margin-top: 33px;
}

.totalColor {
  background-color: #e8a87c;
}

.input-error{
  visibility: hidden;
  color: red;
}

.foot {
  margin-bottom: 20px;
  margin-left: -5px;
  user-select: none;
  font-size: 13px;
  bottom: 0;
  right: 0;
  position: fixed;
}

.foot-button {
  cursor: pointer;
/*  margin: 5px;
  padding: 15px;*/
  /*background-color: #e27c60;*/
  display: inline-block;
}

.foot-button a, .foot-button a:visited, .foot-button a:hover, .foot-button a:active {
  color: inherit;
  font-size: 13px;
}

.foot-button select {
  cursor: pointer;
}

.bola-verde{
  color: #68ca68;
  width: 30px;
}

.bola-roja{
  color: #de1e1e;
  width: 30px;
}

.oculto{
  display: none;
}


.graf-caja{
  margin-left: 250px;
  margin-top: 20px;
  background-color: white;
  display: block;
  width: 60%;
}

.color-total{
  background-color: #259085;
}

.float-left{
  float: left;
}

.float-inherit{
  float: inherit;
  text-align: center;
}

.padding200{
    padding-left: 200px;
}

.padding10{
    padding-right: 10px;
}

.padding0{
    padding-right: 0px;
}

.material-icons.md-130{
    font-size: 130px;
    color: white;
}

.material-icons.md-60{
    color: #00695c;
    /* color: #40776e; */
    font-size: 60px;
}

.material-icons.md-30{
  color: #00695c;
  font-size: 30px;
}

.titulos.conf{
  width: 250px;
}

.titulos.graf_bar{
  width: 70%;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.titulos.graf_pie{
  width: 35%;
  float: left;
  margin-right: 20px;
  padding-left: unset;
}

.titulos.graf_pie2{
  width: 35%;
  margin-right: 20px;
  padding-left: unset;
  margin-top: 10px;
}

.graf_pie_nombre{
  padding-left: 30px;
}

.columna_uno{
  float: left;
}

.columna_dos{
  margin-left: 40%;
}

.graf-caja.grafico_pie{
  width: 35%;
  float: left;
  margin-bottom: 10px;
}

.graf-caja.grafico_pie2{
  width: 35%;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
}


.labelLogin{
    cursor: pointer;
    /* margin: 20px; */
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    /* padding: 35px; */
    padding-top: 20px;
    /* padding-bottom: 10px; */
    /* background-color: #e27c60; */
    /* background-color: #4abdac; */
    /* background-color: #003d33; */
    /* background-color: #E1E2E1; */
    /* background-color: #7ca99e;*/
    background-color: #40776e; 
    /* color: white; */
    display: inline-block;
    /* float: left; */
    width: 120px;
    text-align: center;
    font-size: 50px;
    /* border-radius: 20px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}

.containerLogin{
    /* background-color: #4abdac; */
    /* background-color: #003d33; */
    /* background-color: #E1E2E1; */
    /* background-color: #7ca99e; */
    /* background-color: #40776e; */
}

.login_add{
  padding: 0px;
  padding-top: 25px;
  width: auto;
  background-color: transparent;
  cursor: pointer;
}

.labelNombre{
  /* float: left; */
  cursor: pointer;
  /* margin: 20px; */
  margin-left: 20px;
  /* margin-top: 20px; */
  margin-right: 20px;
  margin-bottom: 20px;
  /* padding: 35px; */
  padding-top: 5px;
  /* padding-bottom: 35px; */
  background-color: #5d8a73;
  /*background-color: #e27c60;*/
  /* background-color: #4abdac; */
  /* background-color: #003d33; */
  /* background-color: #E1E2E1; */
  /* background-color: #7ca99e; */
  /* background-color: #40776e; */
  /* color: white; */
  display: inline-block;
  /* float: left; */
  width: 120px;
  height: 20px;
  text-align: center;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.div_add_login{
  padding-top: 40px;
}

.card_login_add{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: cadetblue;
}

.dellogin{
  display: block;
  position: absolute;
  margin-left: 90px;
  margin-top: 3px;
  border-radius: 50%;
  background-color: white;
  visibility: hidden;
  cursor: pointer;
}

div.delloginDiv:hover i.dellogin {
    visibility: visible;
}


.nuevo-usuario{
  padding-top: 160px;
  display: none;
}

.eliminar-usuario{
  padding-top: 160px;
  display: none;
}

.form-login{
  border-top: 1px solid;
  padding-top: 12px;
}

.fnone{
  width: 50px;
  height: 50px;
}

/*.borderRadius{-moz-border-radius:5px; border-radius:5px; }
.borderRadiusTp{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
.borderRadiusBtm{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0 ;border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; 
-ms-filter:"alpha(opacity=50)";
filter:alpha(opacity=50);
-khtml-opacity:.5;
-moz-opacity:.5;
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
/*.dd{border:1px solid #c3c3c3;}
.dd .divider{border-left:1px solid #c3c3c3; border-right:1px solid #fff;; right:24px;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle .ddTitleText{padding:5px 20px 5px 5px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}*/s



/*.dd .ddChild li{background-color:#fff;}
.ddcommon ul li{list-style-type:none;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
img.fnone{float:none !important}*/

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #22a28d;
  background-color: white;
}

.img-radio{
  position: absolute;
  opacity: 0;
}

.imagen-div{
display: initial;
    right: 0;
    position: fixed;
        margin-top: -5px;
    margin-right: 4px;
}

.imagen-img{
  width: 30px;
  border-radius: 50%;
  background-color: white;
}

.imagenEdit{
  display: initial;
  right: 140px;
  position: fixed;
  margin-top: -4px;
}

.img-new{
  cursor: pointer;
  width: 40px;
}

.img-edit{
  cursor: pointer;
  width: 27px;
}

.posfixed{
  position: fixed;
}



.busqueda{
    margin-left: 210px;
    margin-top: 5px;
    float: left;
}

.busqueda-form {
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 250px;
    display: none;
}

.busqueda-diario {
    width: 440px;
    padding: 20px;
}

.button-busqueda {
    cursor: pointer;
}

.form-field-bus {
    padding-right: 5px;
    font-size: 13px;
    float: left;
}